*{
    margin: 0;
    padding:0 ;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
}
.container div{
    border: 1px solid #555;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
.p1{background-color: blue;}
.p2{background-color: red;}
h2{
    text-align: center;
}
.pre{
    visibility: hidden;
}
#turn{
    font-size: 2rem;
}
#display{
    display:none;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    padding: 10rem;
    text-align: center;
    background-color: lavenderblush;
    color: #555;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px black;
}